/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap {
  margin: 0 auto;
  width: 1024px;
}

.socialMedias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 10px;
  font-size: 18px;
  background: #f6f6f6;
}

.socialMedias a {
  text-decoration: none;
}

.socialMedias .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.socialMedias .socialMedia img {
  margin-right: 5px;
}

.socialMedias .facebook {
  color: #385c93;
}

.socialMedias .twitter {
  color: #08b0de;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
}

.menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 22px;
}

.menu-items li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #00cb9b;
  text-align: center;
  padding: 0px 8px;
  margin-left: 27px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
}

.menu-items li a:hover {
  border-bottom: 5px solid #00cb9b;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  color: white;
  height: 340px;
  background-image: url(../img/banner.png);
  background-size: cover;
}

.banner h1 {
  padding: 38px 0px 38px 20px;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
}

.banner h1 p {
  line-height: 50px;
}

.course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 58px 0px;
}

.course-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  width: 300px;
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0px 6px 3px #f0f0f0;
          box-shadow: 0px 6px 3px #f0f0f0;
}

.course-item h2 {
  font-size: 20px;
  text-align: center;
  padding: 10px 0px;
}

.course-item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 140px;
}

.course-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.course-item-content p {
  font-size: 14px;
  text-align: left;
  line-height: 20px;
}

.course-item-content p span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px dashed gray;
}

.course-item-content ul {
  font-size: 14px;
  margin-top: 5px;
  line-height: 20px;
}

.comparsion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 58px 0px;
}

.comparsion h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.comparsion table {
  text-align: left;
}

.comparsion table tr th {
  padding: 8px 110px 8px 22px;
  background: #f7f7f7;
  border-top: 1px solid  #dddddd;
  border-bottom: 1px solid  #dddddd;
}

.comparsion table tr td {
  padding: 8px 110px 8px 22px;
  border-bottom: 1px solid  #dddddd;
}

.comparsion table .comparsion-items:hover {
  background: #d2f1eb;
}

.comparsion .highlight {
  color: #00cb9b;
}

.footer {
  padding-bottom: 50px;
}

.callToAction {
  color: white;
  padding: 30px 20px;
  background-image: url(../img/bg-slice);
}

.callToAction .introduction {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding: 0px 0px 30px 0px;
}

.callToAction .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.callToAction .information textarea {
  width: 860px;
  height: 250px;
}

.callToAction .information .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.callToAction .information .user .user-item {
  margin-left: 30px;
}

.callToAction .information .user .user-item input {
  margin-top: 5px;
  padding-left: 12px;
  width: 100%;
  height: 30px;
}

.callToAction .information .user .user-item input::-webkit-input-placeholder {
  color: gray;
  padding-left: 2px;
}

.callToAction .information .user .user-item input:-ms-input-placeholder {
  color: gray;
  padding-left: 2px;
}

.callToAction .information .user .user-item input::-ms-input-placeholder {
  color: gray;
  padding-left: 2px;
}

.callToAction .information .user .user-item input::placeholder {
  color: gray;
  padding-left: 2px;
}

.callToAction .information .user .user-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.callToAction .information .user .user-btn input {
  color: white;
  padding: 10px 20px;
  background: #00cb9b;
  border: none;
  border-radius: 3px;
}

.callToAction .information .user .user-btn input:hover {
  color: white;
  background: #155f49;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  margin-top: 20px;
}

.contact img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.contact-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  line-height: 22px;
}

.contact-items li span {
  color: #e32d72;
}
/*# sourceMappingURL=styles.css.map */